<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/templatemo-main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
          
    <title>React App</title>
    <script>
      window.onload = function () {
      
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,  
        title:{
          text: "Anger Score over Time"
        },
        axisY: {
          title: "Anger Score",
          valueFormatString: "##,,.",
          suffix: "",
          prefix: ""
        },
        data: [{
          type: "splineArea",
          color: "rgba(54,158,173,.7)",
          markerSize: 5,
          xValueFormatString: "YYYY",
          yValueFormatString: "##",
        }]
        });
      chart.render();
      
      }
      </script>
  </head>
  
  <body>
    
    <div id="chartContainer" style="height: 400px; width: 50%; position: absolute; top: 50%; left: 25%"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <div id="root"></div>
      <body style="background-color:#03a1fc;">
        <div class="parallax-content baner-content" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  offset-lg-2">
                        <h3 class="mt-5"><font color="white" style="margin-left:16%;font-family: Courgette, cursive;font-size:5em" style="font-size:300%;"> Calmify </font></h3>
                        <img style="position:absolute; top:-30%;left:-75%" src="https://i.ibb.co/7NxYYm2/istockphoto-1124567572-612x612-removebg-preview.png" alt="istockphoto-1124567572-612x612-removebg-preview" border="0">
                        <img style="position:absolute; top:90%; left: -55%" src="https://i.ibb.co/wJ7ntk4/tree.png" alt="tree" border="0">
                        <img style="position:absolute; top:90%; right: -55%" src="https://i.ibb.co/wJ7ntk4/tree.png" alt="tree" border="0">
                        <img style="position:absolute; bottom:-120%; left: -70%; z-index:-1; width:2000px " src="https://i.ibb.co/X760DWb/sand-removebg-preview.png" alt="sand-removebg-preview" border="0">
                        <img src="{{ url_for('video_feed') }}" width="100%">
                        <img src="{{ url_for('audio_feed') }}" width="0%">
                    </div>
                </div>
            </div>
        </div>
    </body>
  
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>
